
.container {
  display: flex;
  width: 100%;

}

.header {
  Padding: 1%;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;
  margin: 1.5% 2% 0% 2%;
  font-size: 25px;
  font-family: 'Arvo', serif;
  color:rgb(105, 105, 105)
}

.leftContainer {
  width: 40%;
  height: 100vh;
  display:flex;
  justify-content: center;
  text-align: center;
  margin: 2%;
  font-family: 'Arvo', serif;
  color:rgb(105, 105, 105);
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;

}

.rightContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 2% 2% 0%;
  font-family: 'Arvo', serif;
  color:rgb(105, 105, 105)


}

.accessories {
  display: flex;
  height: 40%;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;



}

.dailyQuote {
  display: flex;
  height: 60%;
  justify-content: center;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;

  
}