:root {
  --mdc-theme-primary: rgb(69, 69, 119);
}

.container {
  display: flex;
  width: 100%;

}

.modal {
  border-radius: 8px;
  background-color: rgb(205, 229, 250);
  text-align: center;
  font-family: 'Arvo', serif;
  width: 65%;
  padding-top: 20px;

}

.modal button {
  width: 25%;
  font-family: 'Arvo', serif;
}

.modal button:hover {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;;
}

.header {
  Padding: 1%;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;
  margin: 1.5% 2% 0% 2%;
  font-size: 25px;
  font-family: 'Arvo', serif;
  color:rgb(0, 0, 0)
}

.leftContainer {
  width: 40%;
  height: 100vh;
  display:flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 2%;
  font-family: 'Arvo', serif;
  color:rgb(0, 0, 0);
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;

}

.rightContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 2% 2% 0%;
  font-family: 'Arvo', serif;
  color:rgb(0, 0, 0)


}

.accessories {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;
}

.accessories p {
  text-decoration: none;
  font-size: 22px;
  text-align: center;
}

.dailyQuote {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.54);
  border-radius: 8px;
  padding: 5%;
}
#apiQuote {
  font-size: 25px;
  font-style: italic;
}


#unsplashImage {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hourlyWeatherWrapper {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: 'Arvo', serif;
}
.hourlyWeatherTable {
  border-collapse: separate;
  border-spacing: 1rem;
  font-size: 20px;
}

.hourlyWeatherTable h3 {
  text-decoration: underline;
}

.weather h2 {
  text-decoration: underline;
}
#currentWeather {
  font-size: 25px;
}
#uvi {
  text-decoration: underline;
}
#currentUVIndex {
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
  text-decoration: none;
}
#sunscreen {
  font-size: 15px;
}









